/* src/Contacto.css */

.contact-container {
  text-align: center;
  padding-top: 40px;
}

.contact-title {
  font-size: 2rem;
  color: #2c3e50;
}

.contact-text {
  margin-bottom: 10px;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-link {
  text-decoration: none;
  color: #2c3e50;
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #4267b2; /* Facebook blue */
}

.facebook-icon {
  font-size: 2rem; /* Adjust icon size here */
  margin-right: 8px;
}
